<div class="span3">
	<ul class="nav nav-tabs nav-stacked">
		@Html.NavListItem("Julia Fractal", "JuliaFractal", "Layers")
		@Html.NavListItem("Mandelbrot Fractal", "MandelbrotFractal", "Layers")
		@Html.NavListItem("Polygon Shape", "PolygonShape", "Layers")
		@Html.NavListItem("Rectangle Shape", "RectangleShape", "Layers")
		@Html.NavListItem("Text", "Text", "Layers")
	</ul>
</div>