<!DOCTYPE html>
<html lang="en">
<head>
	<title>DynamicImage - a high performance image manipulation library for ASP.NET</title>
	<link href="/assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="/assets/css/screen.css" rel="stylesheet" />
	<link href="/content/prettify/prettify.css" rel="stylesheet" />
</head>

	<body>
		<a href="https://github.com/sitdap/dynamic-image"><img style="position: absolute; top: 0; right: 0; border: 0;z-index:9000;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="/">DynamicImage</a>
				
					<ul class="nav">
						@Html.NavListItem("Getting Started", "Index", "GettingStarted")
						@Html.NavListItem("Layers", "Index", "Layers")
						@Html.NavListItem("Filters", "Index", "Filters")
						@Html.NavListItem("Combos", "Index", "Combos")
						@Html.NavListItem("Other Features", "Index", "Features")
						@Html.NavListItem("Extensions", "Index", "Extensions")
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			@RenderBody()
		</div>

		<script src="/assets/js/jquery.js"></script>
		<script src="/assets/js/bootstrap.js"></script>
		<script src="/scripts/prettify/run_prettify.js"></script>
	</body>
</html>