<div class="span3">
	<ul class="nav nav-tabs nav-stacked">
		@Html.NavListItem("Border", "Border", "Filters")
		@Html.NavListItem("Brightness Adjustment", "BrightnessAdjustment", "Filters")
		@Html.NavListItem("Clipping Mask", "ClippingMask", "Filters")
		@Html.NavListItem("Color Key", "ColorKey", "Filters")
		@Html.NavListItem("Color Tint", "ColorTint", "Filters")
		@Html.NavListItem("Contrast Adjustment", "ContrastAdjustment", "Filters")
		@Html.NavListItem("Crop", "Crop", "Filters")
		@Html.NavListItem("Curves", "Curves", "Filters")
		@Html.NavListItem("Distort Corners", "DistortCorners", "Filters")
		@Html.NavListItem("Drop Shadow", "DropShadow", "Filters")
		@Html.NavListItem("Emboss", "Emboss", "Filters")
		@Html.NavListItem("Feather", "Feather", "Filters")
		@Html.NavListItem("Gaussian Blur", "GaussianBlur", "Filters")
		@Html.NavListItem("Grayscale", "Grayscale", "Filters")
		@Html.NavListItem("Inversion", "Inversion", "Filters")
		@Html.NavListItem("Opacity Adjustment", "OpacityAdjustment", "Filters")
		@Html.NavListItem("Outer Glow", "OuterGlow", "Filters")
		@Html.NavListItem("Resize", "Resize", "Filters")
		@Html.NavListItem("Rotation", "Rotation", "Filters")
		@Html.NavListItem("Round Corners", "RoundCorners", "Filters")
		@Html.NavListItem("Sepia", "Sepia", "Filters")
		@Html.NavListItem("Shiny Floor", "ShinyFloor", "Filters")
		@Html.NavListItem("Solarize", "Solarize", "Filters")
		@Html.NavListItem("Unsharp Mask", "UnsharpMask", "Filters")
		@Html.NavListItem("Vignette", "Vignette", "Filters")
	</ul>
</div>