@section PageTitle { Resize Filter }

@section SubTitle {  }

<p>Changes the size of a layer. This filter can be used in several ways
depending on the effect you wish to achieve.</p>

<p>There are five modes available for the Resize filter.</p>

<p>By default, images will not be enlarged if they are smaller than 
the target size. However, you can set the <code>EnlargeImage</code>
property to true to allow enlargement.</p>

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.ToWidth(200))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.ToWidth(200))
	))
</p>

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.ToHeight(200))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.ToHeight(200))
	))
</p>

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(200, 200, ResizeMode.UniformFill))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(200, 200, ResizeMode.UniformFill))
	))
</p>

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(200, 200))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(200, 200))
	))
</p>

<pre class="prettyprint">
@@Html.DynamicImageTag(b => b.WithLayer(
	LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
		.WithFilter(FilterBuilder.Resize.To(Unit.Percentage(50), Unit.Percentage(50)))
))
</pre>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.To(Unit.Percentage(50), Unit.Percentage(50)))
	))
</p>