<div class="span3">
	<ul class="nav nav-tabs nav-stacked">
		@Html.NavListItem("Blend Modes", "BlendModes", "Features")
		@Html.NavListItem("Bytes Source Image", "BytesSourceImage", "Features")
		@Html.NavListItem("Global Filters", "GlobalFilters", "Features")
		@Html.NavListItem("Gradient Fill", "GradientFill", "Features")
		@Html.NavListItem("Grayscale Source Image", "GrayscaleSourceImage", "Features")
		@Html.NavListItem("Indexed Source Image", "IndexedSourceImage", "Features")
		@Html.NavListItem("Opacity", "Opacity", "Features")
		@Html.NavListItem("Positioning", "Positioning", "Features")
		@Html.NavListItem("Transparent Source Image", "TransparentSourceImage", "Features")
		@Html.NavListItem("Lomo Effect", "Lomo", "Features")
	</ul>
</div>