@section PageTitle { Blend Modes }

<h2>Source Images (Background / Source)</h2>

<p>
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
			.WithFilter(FilterBuilder.Resize.ToWidth(250))
	))
	
	@Html.DynamicImageTag(b => b.WithLayer(
		LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg")
			.WithFilter(FilterBuilder.Resize.ToWidth(250))
	))
</p>
			
<h2>Blended Images</h2>
			
<div class="row">
	<div class="span4">
		<h3>Normal</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Normal)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				)
		</p>
	</div>
	
	<div class="span4">
		<h3>Dissolve</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Dissolve)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
						.WithFilter(FilterBuilder.AdjustOpacity.Opacity(50))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Multiply</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Multiply)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Screen</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Screen)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				)
		</p>
	</div>
	<div class="span4">
		<h3>Overlay</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Overlay)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	<div class="span4">	
		<h3>Darken</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Darken)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>		
</div>

<div class="row">
	<div class="span4">
		<h3>Lighten</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Lighten)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Color Dodge</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.ColorDodge)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Color Burn</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.ColorBurn)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Linear Dodge</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.LinearDodge)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Linear Burn</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.LinearBurn)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Lighter Color</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.LighterColor)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Darker Color</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.DarkerColor)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Hard Light</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.HardLight)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Soft Light</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.SoftLight)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
</div>

<div class="row">
	<div class="span4">
		<h3>Linear Light</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.LinearLight)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Pin Light</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.PinLight)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Difference</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Difference)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
</div>			

<div class="row">
	<div class="span4">
		<h3>Exclusion</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Exclusion)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Color</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Color)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
	
	<div class="span4">
		<h3>Luminosity</h3>
		<p>
			@Html.DynamicImageTag(b => b
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/AutumnLeaves.jpg")
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
				.WithLayer(
					LayerBuilder.Image.SourceFile("~/Assets/Images/Forest.jpg").BlendMode(BlendMode.Luminosity)
						.WithFilter(FilterBuilder.Resize.ToWidth(250))
				)
			)
		</p>
	</div>
</div>